{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}{% if form.title.value %} Edit {% else %} New {% endif %} Project < ModelManager{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-lg-12">
        <form method="post" role="form" class="col-md-6" enctype="multipart/form-data" novalidate class="form-horizontal">
          <legend>{% if form.title.value %} Edit {% else %} New {% endif %} Project</legend>
          {% csrf_token %}
          {{ form|bootstrap }}
          <div class="form-group">
            <button type="submit" class="save btn btn-default">Save</button>
          </div>
        </form>
      </div>
  </div>
</div>
{% endblock %}
