<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">ModelManager</a>
</div>
<!-- /.navbar-header -->

<div class="collapse navbar-collapse">
  <ul class="nav navbar-top-links navbar-right">
    {% if user.is_active %}
        <li><a href="#"> <span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
        <li><a href="{% url 'logout' %}"><span title="logout" class="glyphicon glyphicon-log-out"></span></a></li>
        <li><a href="{% url 'admin:index' %}"><span title="admin" class="glyphicon glyphicon-sunglasses"></span></a></li>
      {% else %}
        <li><a href="{%url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="{%url 'signup' %}"><span class="glyphicon glyphicon-check"></span> Sign up</a></li>
    {% endif %}
  </ul>
  <ul class="nav navbar-nav">
    <li>
      <a href="{% url 'project' %}"><span class="glyphicon glyphicon-th-list"></span> Project List</a>
    </li>
    <li>
      <a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
    </li>
  </ul>
</div>
